{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Современные технологии достигли такого уровня, что убеждённость
            некоторых оппонентов однозначно фиксирует необходимость направлений
            прогрессивного развития. Вот вам яркий пример современных тенденций
            — сложившаяся структура организации не оставляет шанса для
            поставленных обществом задач.
            Также как постоянное информационно-пропагандистское обеспечение
            нашей деятельности создаёт необходимость включения в
            производственный план целого ряда внеочередных мероприятий
            с учётом комплекса как самодостаточных, так и внешне зависимых
            концептуальных решений.</p>
        <button class="btn btn-danger">Просто нажми</button>
    </div>
{% endblock %}